<div class="col-md-12">

    <h2>Ensaio XXX</h2>
    <p>Descrição do ensaio aqui, o texto pode ser elaborado</p>
</div>


<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
                
            <div class="col-md-4 nopadding" ng-repeat="foto in fotos" >
                <a>
                    <img src="{{foto.url}}" class="img-responsive" alt="" style="padding: 2px">
                </a>
            </div>
            
        </div>
    </div>
</section>